.profile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  padding: 4px 0 0;
  width: 410px;
}

.profile__title {
  margin: 0 0 123px;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
}

.profile__form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.profile__fields {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.profile__field {
  margin: 0;
  padding: 0 0 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid #E8E8E8;
}

.profile__field:last-of-type {
  padding: 17px 0 0;
  border: none;
}

.profile__field-title {
  margin: 0;
  padding: 0;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
}

.profile__field-input {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-align: right;
  border: none;
  background: none;
}

.profile__field-input:focus {
  outline: none;
}

.profile__error {
  max-width: 250px;
  height: 14px;
  margin: 144px auto 20px;
  padding: 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  color: #FF004C;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__error_inactive {
  display: none;
}

.profile__submit-button {
  width: 100%;
  margin: 0;
  padding: 13px 0 15px;
  border: none;
  border-radius: 3px;
  background-color: #3456F3;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: white;
  transition: 0.2s;
}

.profile__submit-button:hover {
  cursor: pointer;
  background-color: rgba(52, 86, 243, 0.8);
}

.profile__submit-button_disabled {
  color: #C2C2C2;
  background-color: #F8F8F8;
  pointer-events: none;
}
.profile__submit-button_disabled:hover {
  color: #C2C2C2;
  background-color: #F8F8F8;
  pointer-events: none;
}

.profile__submit-button_inactive {
  display: none;
}

.profile__cancel-button {
  margin: 0 auto 0;
  padding: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 45px;
  border: none;
  background: none;
  transition: 0.2s;
}

.profile__cancel-button:hover {
  cursor: pointer;
  opacity: 70%;
}

.profile__cancel-button_inactive {
  display: none;
}

.profile__edit-button {
  margin: 220px auto 16px;
  padding: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  border: none;
  background: none;
  transition: 0.2s;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 70%;
}

.profile__edit-button_inactive {
  display: none;
}

.profile__logout-link {
  margin: auto;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: #FF3055;
  text-decoration: none;
  transition: 0.2s;
}

.profile__logout-link:hover {
  opacity: 70%;
}

.profile__logout-link_inactive {
  display: none;
}

@media screen and (max-width: 1100px) {
  .profile {
    padding: 0 0 33px;
  }

  .profile__title {
    margin: 0 0 96px;
  }

  .profile__error {
    margin: 179px auto 20px;
  }

  .profile__edit-button {
    margin: 210px auto 16px;
  }
}

@media screen and (max-width: 740px) {
  .profile {
    width: 260px;
    flex-grow: 1;
    padding: 70px 0 40px;
  }

  .profile__title {
    margin: 0 0 80px;
  }

  .profile__form {
    flex-grow: 1;
  }

  .profile__error {
    margin: auto auto 20px;
  }

  .profile__edit-button {
    margin: auto auto 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
  }

  .profile__logout-link {
    margin: 0 auto;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
  }
}
