.header {
  display: flex;
  width: 100%;
  min-height: 74px;
  margin: 0 auto;
  background-color: #073042;
  position: relative;
}

.header_light {
  background-color: white;
}

.header__logo {
  position: absolute;
  margin: 18px 70px;
  width: 38px;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.header__nav-bar {
  width: 100%;
  display: flex;
}

.header__link {
  margin: auto 16px auto 0;
  padding: 0;
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  transition: 0.2s;
}

.header__link:first-of-type {
  margin-left: auto;
}

.header__link:last-of-type {
  margin-right: auto;
}

.header__link:hover {
  opacity: 70%;
}

.header__link_notAuth {
  font-size: 12px;
  line-height: 16px;
}

.header__link_notAuth:last-of-type {
  margin-right: 176px;
}

.header__link_light {
  color: black;
}

.header__link_inactive {
  font-weight: 400;
  pointer-events: none;
  cursor: default;
}

.header__button {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  margin: 21px 70px;
  padding: 3px 3px 3px 11px;
  border: none;
  background: #2BE080;
  border-radius: 40px;
  box-sizing: content-box;
  align-items: center;
  font-size: 13px;
  line-height: 12px;
  font-weight: 500;
  transition: 0.2s;
}

.header__button:hover {
  cursor: pointer;
  background-color: rgba(43, 224, 128, 0.8);
}

.header__button_notAuth {
  padding: 8px 20px;
  font-size: 12px;
  line-height: 16px;
  border-radius: 3px;
}

.header__button_light {
  background-color: white;
  box-shadow: 0 3px 14px 0 #00000014;
}

.header__button_light:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.header__account-icon {
  width: 12px;
  padding: 7px;
  margin-left: 7px;
  border-radius: 50%;
  background-color: #F9F9F9;
  box-sizing: content-box;
}
