.search {
  width: 100%;
  box-sizing: border-box;
  padding: 50px 70px 0;
}

.search__form {
  margin: 0;
  padding: 0;
}

.search__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 32px;
  padding: 0 0 13px;
  border-bottom: solid 1px #E8E8E8;
  transition: 0.2s;
  position: relative;
}

.search__input {
  flex-grow: 1;
  width: 1em;
  border: none;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  margin: 0;
  padding: 0;
}

.search__input::placeholder {
  color: #A0A0A0;
  opacity: 100%;
}

.search__input:focus {
  outline: none;
}

.search__button {
  padding: 8px 13px;
  border: none;
  background-color: #3456F3;
  border-radius: 21px;
  color: white;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  transition: 0.2s;
}

.search__button:hover {
  cursor: pointer;
  background-color: rgba(52, 86, 243, 0.8);
}

.search__button_disabled {
  background-color: #F8F8F8;
  color: #C2C2C2;
  pointer-events: none;
}

.search__error {
  margin:0;
  padding:0;
  position: absolute;
  opacity: 0;
  bottom: -20px;
  left: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  color: #A0A0A0;
}

.search__error_shown {
  opacity: 100%;
}

@media screen and (max-width: 1100px) {
  .search {
    padding: 40px 30px 0px;
  }

  .search__container {
    margin: 0 0 30px;
  }
}

@media screen and (max-width: 740px) {
  .search {
    padding: 30px 14px 15px;
  }

  .search__container {
    margin: 0 0 41px;
    padding: 0 0 9px;
  }

  .search__input {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }
}
