.login {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  width: 396px;
}

.login__logo {
  width: 38px;
  aspect-ratio: 1/1;
  margin: 0 0 40px;
}

.login__logo:hover {
  cursor: pointer;
}

.login__title {
  margin: 0 0 40px;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

.login__form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.login__button {
  margin: 197px 0 16px;
  padding: 13px 0 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: white;
  border: none;
  border-radius: 3px;
  background-color: #3456F3;
  transition: 0.2s;
}

.login__button_disabled {
  pointer-events: none;
  background-color: #F8F8F8;
  color: #C2C2C2;
}

.login__button:hover {
  cursor: pointer;
  background-color: rgba(52, 86, 243, 0.8);
}

.login__info {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #A0A0A0;
  text-align: center;
}

.login__info-link {
  width: 100%;
  margin-left: 7px;
  text-decoration: none;
  color: #3456F3;
  transition: 0.2s;
}

.login__info-link:hover {
  opacity: 70%;
}

@media screen and (max-width: 740px) {
  .login {
    width: 260px;
    flex-grow: 1;
    padding: 56px 0 30px;
  }

  .login__logo {
    width: 38px;
    aspect-ratio: 1/1;
    margin: 0 auto 50px;
  }

  .login__title {
    margin: 0 auto 80px;
  }

  .login__form {
    flex-grow: 1;
  }

  .login__button {
    margin: auto 0 14px;
    padding: 15px 0 15px;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
  }

  .login__info {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
  }
}
